*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 200px;
    margin-right: 200px;
}

.logo{
    vertical-align: middle;
}

.logo-text{
    font-size: 35px;
    font-family: arial;
    font-weight: 800;
    vertical-align: middle;
}

.header{
    background-color: white;
}

main{
    background-color:#e3e3e3;
    height: 500px;
}

/* button*/
.button{
    border-top: 35px solid #e3e3e3;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-left: 100px ;
    margin-right: 100px;
    background-color: white;

}

.botton1{
    color:white;
    background-color: #5c8aed;
    border-radius: 5px;
    padding: 3px;
    border: none;
}

.botton2{
    color: gray;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid gray;

}
/* fine button*/

/* liste */

.liste{
    margin-left: 100px;
    margin-right: 100px;
   margin-top: 1px;
    padding: 20px;
    background-color: white;
    height: 400px;
}